<!-- langue page html template -->
<ion-header no-border>
  <headpage pageName="langue"></headpage>
</ion-header>
<ion-content padding >
  <ion-grid class="main_ion_grid">
    <div style="background-color: rgb(255, 255, 255); border-radius: 15px; height: 40%; width: 60%; ">
      <ion-row style="height: 25%; color: rgb(0, 0, 0);justify-content: center!important; align-items: center!important; font-size: 4em;">
        {{param.datatext.langage}}
      </ion-row>
      <ion-row style="height: 75%;vertical-align: middle;
      justify-content: center;
      display: flex!important;
      align-items: center!important">
       
        <ion-select #select1 [(ngModel)]="param.robot.langage" (ionChange)="monitorHandler()" style="width: 70% !important; font-size: x-large;background-color:rgba(26, 156, 195, 0.199);" interface="popover" (mouseup)="onSliderRelease($event,select1)">
          <ion-option value="de-DE">Deutsch</ion-option>
          <ion-option value="en-GB">English</ion-option>
          <ion-option value="el-GR">Ελληνικά</ion-option>
          <ion-option value="fr-FR">Français</ion-option>
          <ion-option value="es-ES">Spanish</ion-option>
        </ion-select>
     
      </ion-row>
    </div>
   </ion-grid>

</ion-content>

