<!-- home page html template -->
<ion-header no-border>
  <headpage pageName="home"></headpage>
</ion-header>

<ion-content padding>
  <ion-card text-center class="big_card">
    <ion-grid class="heightstyle">
      <ion-row class="heightstyle">
        <ion-col col-3 class="heightstyle2">
          <ion-select #select1 *ngIf="!api.towardDocking" slot="end" okText="{{this.param.datatext.btn_ok}}"
            cancelText="{{this.param.datatext.btn_cancel}}" [selectOptions]="selectOptions" class="myCustomSelect"
            placeholder="{{this.param.datatext.manualreloc}}" [(ngModel)]="SelectRound" (ionChange)="onQRChange($event)"
            (mouseup)="onSliderRelease($event,select1)">
            <ion-option *ngFor="let reloc of this.param.qrcodes" value="{{reloc.qr}}">{{reloc.qr}}</ion-option>
          </ion-select>

          <button *ngIf="!api.towardDocking" ion-button color="primary" [disabled]="!api.is_connected"
            (mouseup)="scan($event)" class="btn_reloc">
            <ion-icon ngcolor="light" name="qr-scanner" class="icon_style">
              <p class="legende">{{this.param.datatext.reloc}}</p>
            </ion-icon>
          </button>
          <div class="div_btn_go">
            <!-- the Go button is disabled if the robot is not connected -->

            <button *ngIf="!api.towardDocking" ion-button color="secondary"
              [disabled]="!api.is_connected || api.battery_status.status ===0" (mouseup)="onclickGo($event)"
              class="btn_go">
              <ion-icon ngcolor="light" name="battery-charging" class="icon_style">
                <p class="legende">
                  {{this.param.datatext.btn_charge}}
                </p>
              </ion-icon>
            </button>
            <button *ngIf="api.towardDocking" ion-button color="danger" (mouseup)="onclickGo($event)" class="btn_go">
              <ion-icon color="light" name="hand" class="icon_style">
                <p class="legende">
                  {{this.param.datatext.btn_stop}}
                </p>
              </ion-icon>
            </button>
          </div>
        </ion-col>

        <ion-col col-9 class="heightstyle2">
          <ion-card class="test">
            <canvas #videoCanvas style="display: none;"></canvas> 
            <video #video autoplay class="video"></video>
            <img [hidden]="param.robot.cam_USB==1" class="video" id="imgcompressed" />
            <button ion-button class="framebtn" [disabled]="true">
              <ion-icon class="frame" name="qr-scanner"></ion-icon>
            </button>
           
            <div class="joy" id="zone_joystick"></div>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <canvas #canvas style="display: none"> </canvas>
</ion-content>