//home page style sheet
page-home {

ion-content > div.scroll-content {
    overflow: hidden;
}

.video-responsive { 
    overflow:hidden; 
    position:relative; 
    height:100%;
    width: 100%;
    background-color: white;
}
.joy{
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 99%;
    width: 95%;
    position: relative; 
    background-color: #dddddd00;
}
.myCustomSelect{
    font-size:1.5vw;
    border-radius: 15px;
    margin: 0px !important;
    min-width: 100%;
    color:white;
    background-color: rgba($color: #000000, $alpha: 0.65);
   }


.framebtn {
    flex-grow : 1;
    margin: 0px !important;
    vertical-align: middle !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    background-color: rgba(26, 156, 195, 0);
}

.framebtn:hover{
    background-color: rgba(26, 156, 195, 0.363) !important;
}

.frame {
    font-size: 35vw;
    color: rgb(255, 255, 255);
}

.test{
  overflow:hidden; 
  position:relative; 
  height:100%;
  width: 100%;
  flex-grow : 1;
  margin: 0px !important;
  background-color: rgba(26, 156, 195, 0);
}

.big_card{
    //background-size: cover;
    //background-image: url("../assets/imgs/patrol.jpg");
    background-color: rgba(26, 156, 195, 0.199);
    height:100%;
    border-radius: 15px;
    
}


.heightstyle{
    height: 100%;
    
}
.heightstyle2{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.checkboxp{
    border-radius: 15px;
    margin-bottom: 8px;
    font-size:1vw;
    color:white;
    background-color: rgba($color: #686868, $alpha: 0.75);
}

.checkbox{
    border-radius: 15px;
    margin-bottom: 8px;
    font-size:1vw;
    color:white;
    background-color: rgba($color: #000000, $alpha: 0.65);
}

.div_btn_go{
    flex-grow : 1;
    padding-bottom: 5px;
}

.div_item{
    width: 100%;
    align-items: center;
    margin-bottom: 0px;
}

.btn_reloc{
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.btn_go{
    height:100%;
    width: 100%;
    border-radius: 15px;
}

.poiButton{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 8px;
    font-size:1.5vw;
    color:white;
}

.labelistepoi{
    color :rgb(26, 156, 195);
    font-size:1.5vw;
}
.legendePOI{
    font-size:3vw;text-align: center;height:100%;color:white;
}
.legende{
    font-size:3vw;text-align: center;height:100%;color:white;
}
.icon_style{
    font-size: 10vw;
}

.legende_item{
    color:white;
}
.video{
    
    height: 99%;
    width: auto;
    max-width: 95%;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
   
}


.scroll-content{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
}


}