<!-- param page html template -->
<ion-header no-border>
  <headpage pageName="param"></headpage>
</ion-header>


<ion-content padding >
  <ion-card text-center class="big_card" >
      <ion-grid class="heightstyle">
       
          <ion-list>

            <button ion-item class="btnscss" (mouseup)="goMail($event)" ><ion-icon class="iconscss" name="at" item-start></ion-icon>{{param.datatext.mails}}<ion-icon class="iconscss" name="at" item-end></ion-icon></button>
            <!-- <button ion-item class="btnscss" (click)="goSms()"><ion-icon  class="iconscss" name="chatboxes" item-start></ion-icon>{{param.datatext.sms}}<ion-icon  class="iconscss" name="chatboxes" item-end></ion-icon></button> -->
            <button ion-item class="btnscss" (mouseup)="goLangue($event)" ><ion-icon  class="iconscss" name="globe" item-start></ion-icon>{{param.datatext.langage}}<ion-icon  class="iconscss" name="globe" item-end></ion-icon></button>
            <button ion-item class="btnscss" (mouseup)="goPassword($event)" ><ion-icon class="iconscss" name="key" item-start></ion-icon>{{param.datatext.editpswd1}}<ion-icon class="iconscss" name="key" item-end></ion-icon></button>
          </ion-list>
       
      </ion-grid> 

  </ion-card>
 

</ion-content>

