page-password {
    ion-content > div.scroll-content {
        overflow: hidden;
    }
.btn_menu{
    background-color:rgb(26, 156, 195);
    border-radius: 15px;
    margin-bottom: 0px;
    height:90%;
    width:100%;
    
}

.btn_login{
    background-color:rgb(26, 156, 195);
    border-radius: 15px;
    margin-bottom: 0px;
    height:80%;
    width:70%;
    
}

.txtbold{
    color:white; background-color: rgb(26, 156, 195); font-size: x-large; text-decoration: underline;
    height: 100%;width: 100%;
}

.txtnormal{
    color:white; background-color: rgb(26, 156, 195); font-size: x-large;height: 100%;width: 100%;
}
.btn_header{
    background-color: white;
}
//small screen
@media (max-width: 730px) {
    .imginternet{
        height:40px;
    }
    .imgwifi{
        height:48px;
    }
 
    .imgbattery{
        height:47px;
        }
   
    .hour_size{
        font-size:2.0em;
        padding:10px;
        color: rgb(26, 156, 195);
    }
    .font_menu_size{
        font-size:2.0em;
        color: white;
    }
    .btn_menu_size{
        max-height:280px;
        max-width:150px;
        height:90%;
        width:100%;
    }
}

// big screen
@media (min-width: 730px) {
   
    .imginternet{
        height:40px;
    }
    .imgwifi{
        height:48px;
    }
    .hour_size{
        font-size:2.0em;
        color: rgb(26, 156, 195);
        
    }
    .imgbattery{
        height:47px;
        }
    .font_menu_size{
        font-size:2.5em;
        padding:10px;
        color: white;
    }
    .btn_menu_size{
        max-height:280px;
        max-width:250px;
        height:90%;
        width:100%;
    }
}


.heightstyle{
    width: 90%;
    height: 90%;
}


.main_ion_grid{
    border-radius: 15px;
    vertical-align: middle;
    justify-content: center;
    display: flex!important;
    align-items: center!important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(26, 156, 195, 0.199);
}

.missionform{
    height: 100%;
    width: 100%; 
}

.camcol{

   height: 100%;
   width: 100%; 
}
}